<h2>Information about {{this.car.model}} - {{this.car.make}}</h2>

<ul>
    <li>Car ID: {{this.car?.carId}}</li>
    <li>Model: {{this.car?.model}} - {{this.car.year}}</li>
    <li>Make: {{this.car?.make}}</li>
    <li>Color: {{this.car?.color}}</li>
    <li>Price: {{this.car?.price}}</li>
    <li>Date added: {{this.car?.dateAdded}}</li>
    <li>Last updated: {{this.car?.lastUpdated}}</li>
    <li>Vehicle Identification: {{this.car?.vin}}</li>
    <li>Plant ID: {{this.car?.plantId}}</li>
    <li>Starred: {{this.car?.starred}}</li>
</ul>
