@import '../app.component.css';

.sideOne {
  width: 45%;
  border: none;
  float: left;
}

.sideTwo {
  width: 45%;
  border: none;
  float: left;
}

.total {
  align-self: center;
  width: 100%;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #3f7f7f;
}

.bottom {
  clear: left;
}

button {
  background-color: #3f7f7f; /* Green */
  border: none;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
