<mat-toolbar color="info">
  <mat-toolbar-row>
    <h2>Sogo Services | ViLog</h2>
      <span class="toolbar-button"></span>
        <a mat-raised-button color="accent" routerLink="/view-all">View All</a>
        <a mat-raised-button color="accent" routerLink="/recently-added">Recently Added</a>
        <a mat-raised-button color="accent" routerLink="/starred">Starred</a>
        <a mat-raised-button color="accent" routerLink="/export-csv">Export CSV</a>
    </mat-toolbar-row>
  </mat-toolbar>

<router-outlet></router-outlet>
<!-- Routed components go here -->
