<mat-toolbar [color]="'success'">
  <mat-toolbar-row>
    <a href="#"><h1 style="color: white;"><img class="SogoLogo" src="../assets/Logo/sogo.PNG" align="center"> Sogo Services | ViLog</h1></a>

    <span class="toolbar-button"></span>

    <a mat-raised-button class="text" [color]="'successbutton'" style="margin-right: 40px" routerLink="/view-all">
      <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
      View & Search</a>
    <a mat-raised-button class="text" [color]="'successbutton'" style="margin-right: 40px" routerLink="/recently-added">
      <mat-icon aria-hidden="false" aria-label="recently added icon">new_releases</mat-icon>
      Recently Added</a>

    <a mat-raised-button class="text" [color]="'successbutton'" style="margin-right: 10px; width: 140px" routerLink="/starred">
      <mat-icon aria-hidden="false" aria-label="recently added icon">star_outline</mat-icon>
      Starred</a>
  </mat-toolbar-row>
</mat-toolbar>

<div [hidden]="isNotHomepage()">
  <div class="home-row" style="margin-top: 30px;">
      <mat-icon class="loc" aria-hidden="false" aria-label="recently added icon">location_on</mat-icon>
      <h1 style="margin-left: 30px;">Location of All Vehicles</h1>
  </div>

  <div class="home-row">
    <div id="map" class="map"></div>

    <div class="col analytics" style="width: 30%">
      <app-analytics></app-analytics>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<!-- Routed components go here -->
<!-- i.e, anything that ONLY is shown on the homepage -->
