.toolbar-button {
    flex: 1 1 auto;
}

.SogoLogo {
  width: 30px;
  height: 40px;
}

.nav-header {
    letter-spacing: 4px;
    color: white;
}

a {
  text-decoration: none;
}

table {
    width: 80%;
}

.mat-form-field {
    font-size: 14px;
    width: 80%;
}

.mat-input-element::placeholder{
    color: steelblue;
    font-size: medium;
    font-weight: 400;
}

::ng-deep.mat-form-field-ripple {
    background-color: green !important;
}

.mat-row:hover {
    background-color: steelblue;
}

.mat-header-cell {
    background-color: #6D6D6D;
}

.mat-row {
    background-color: #6D6D6D;
}

.home-row {
    display: flex;
    padding-left: 0px !important;
}

.map {
    width: 75%;
    height: 100%;
    padding-left: 0px !important;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: SteelBlue;
}

div {
    padding-left: 30px;
}

.analytics {
  border-collapse: collapse;
  width: 30%;
}

.loc {
    margin-top: 15px;
    font-size: 45px;
    color: steelblue;
}
