.toolbar-button {
    flex: 1 1 auto;
}

.SogoLogo {
  width: 30px;
  height: 40px;
}

a {
  color: white;
  text-decoration: none;
}

table {
    width: 80%;
}

.mat-form-field {
    font-size: 14px;
    width: 80%;
}

.mat-input-element::placeholder{
    color: cornflowerblue;
    font-size: medium;
    font-weight: bold;
}

.mat-row:hover {
    background-color: cornflowerblue;
}

.map {
    width: 75%;
    height: 90%;
}
