<h1>Recently Added Cars</h1>

<mat-form-field appearance="fill" color="primary" floatLabel="never">
    <h3>Filter</h3>
    <input matInput (keyup)="applyFilter($event)" placeholder="Tesla">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="carId">
        <th mat-header-cell *matHeaderCellDef> Car ID </th>
        <td mat-cell *matCellDef="let element"> {{element.carId}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model Name </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dateAdded">
        <th mat-header-cell *matHeaderCellDef> Date Added </th>
        <td mat-cell *matCellDef="let element"> {{element.dateAdded}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--<ul>-->
<!--    <li *ngFor="let car of carArray">-->
<!--        {{car.carId}} View More-->
<!--    </li>-->
<!--</ul>-->

<!--<tr *ngFor="let car of carArray">-->
<!--    <td>{{car?.carId}}</td>-->
<!--    <td>{{car?.model}}</td>-->
<!--    <td>{{car?.dateAdded}}</td>-->
<!--</tr>-->
