@import '../app.component.css';

tr:hover {background-color: #eeddff}

th {
    text-align: left;
}

td {
    text-align: right;
    text-transform: capitalize;
}

caption {
    background-color: #eeeeee;
    font-weight: bold;
}

table {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  border-collapse: collapse;
}
