@import '../app.component.css';

tr {
    height: 25px;
}

tr:hover {background-color: #78bcf5}

th {
    text-align: left;
}

td {
    text-align: right;
    text-transform: capitalize;
    font-weight: lighter;
}

h2 {
    background-color: #eeeeee;
    margin-top: 0px;
    width: 80%;
}

table {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  border-collapse: collapse;
}
