<h2 align="center">
  Analytics
</h2>
<table>
  <tr>
    <th> Total Vehicles </th>
    <td> {{ carTotal }} </td>
  </tr>
  <tr>
    <th> Starred Vehicles </th>
    <td> {{ numStarred }} </td>
  </tr>
  <tr>
    <th> Most Common Color </th>
    <td> {{ mostCommonColor }} </td>
  </tr>
  <tr>
    <th> Most Common Model </th>
    <td> {{ mostCommonModel }} </td>
  </tr>
  <tr>
    <th> Most Common Make </th>
    <td> {{ mostCommonMake }} </td>
  </tr>
  <tr>
    <th> Vehicles Added Past 30 Days </th>
    <td> {{ carsAddedThirtyDays }} </td>
  </tr>
  <tr>
    <th> Earliest / Latest Model Years </th>
    <td> {{ earliestToLatest }} </td>
  </tr>
  <tr>
    <th> Lowest Price </th>
    <td> $ {{ lowestPrice | number }} </td>
  </tr>
  <tr>
    <th> Highest Price </th>
    <td> $ {{ highestPrice | number }} </td>
  </tr>
  <tr>
    <th> Average Vehicle Price </th>
    <td> $ {{ averagePrice | number }} </td>
  </tr>
</table>
